<h2 class='page-title'>Songs</h2>

<div id='description-container'>
  <% liscencing_description = 'We hope other choirs will want to sing some of these songs, but please note that both words and arrangements may be protected by international intellectual property laws. In some cases where the words are still within copyright to one person, they may have been arranged by someone else, so there may be more than one copyright./n Everyone is free to sing these songs for pleasure, if possible with acknowledgement to authors and arrangers, but they may not be sung for profit without prior agreement, and anyone printing the music has an obligation to ensure that information about copyright is passed on with the music.'%>
  <% liscencing_description.split('/n').each do |sentence| %>
    <p class='liscencing-description'><%= sentence %></p>
  <%end%>
</div>

<table>
  <tr id='header-row'>
    <th>Song Title</th>
    <th>Score</th>
    <th>Words</th>
    <th>All Parts</th>
    <th>Soprano</th>
    <th>Alto</th>
    <th>Tenor</th>
    <th>Bass</th>
  </tr>
  <% @songs.each do |song| %>
    <tr class='table-contents-row'>
      <td><%= song.title%></td>

      <% if song.score %>
        <td>
          <a href='<%= song.score %>'>Score</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <% if song.words %>
        <td>
          <a href='<%= song.words %>'>Words</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <% if song.sound_file %>
        <td>
          <a href='<%= song.sound_file %>'>All Parts</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <% if song.soprano %>
        <td>
          <a href='<%= song.soprano %>'>Soprano</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <% if song.alto %>
        <td>
          <a href='<%= song.alto %>'>Alto</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

      <% if song.tenor %>
        <td>
          <a href='<%= song.tenor %>'>Tenor</a>
        </td>
      <% else %>  
        <td></td>
      <% end %>

      <% if song.bass %>
        <td>
          <a href='<%= song.bass %>'>Bass</a>
        </td>
      <% else %>
        <td></td>
      <% end %>

    <tr>
  <% end %>  
</table>
