<h2 class='page-title'>Gigs</h2>

<div class='gigs-container'>
  <% @gigs.each do |gig| %>
    <div class='gig'>
    <% if gig.image %>
        <div class=image-container>
          <img class='gig-image' src=<%= gig.image.url %>>
        </div>
    <% end %>
    <% if gig.video_embed %>
      <div class='embed-container'>
        <%= gig.video_embed.html_safe %>  
      </div>
    <% end %>
    <div class='gig-content'>
      <% if gig.date_and_time && gig.date_and_time.to_date >= Date.today %>
        <h3 class='upcoming-notification'>Upcoming!</h3>
      <% end %>
      <h3 class='gig-title'><%= gig.title %></h3>
        <p class='gig-description'><%= gig.description %></p>
        <div>
          <% if gig.location %>
            <p class='gig-location'>Location: <%= gig.location %></p>
          <% end %>
        </div>
        <div>
          <% if gig.date_and_time %>
            <p class='gig-time'>Time: <%= gig.date_and_time.strftime('%H:%M ') %></p>
            <p class='gig-date'>Date: <%= gig.date_and_time.strftime('%A, %d %B %Y') %></p>
          <% end %>
        </div>        
      </div>
      
    </div>
  <% end %>
</div>